[Unit]
Description=xi keyring
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=/usr/bin/python3 -m xikeyring
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectSystem=strict
PrivateTmp=yes
